@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 20px;
}

button {
    padding: 8px 10px;
}

.button-regular {
    background-color: #eee;
    border: 1px solid #ddd
}

.button-secondary {
    border: 1px solid gray;
    border-radius: 4px;
}

input {
    padding: 8px;
    border: 1px solid #ddd;
}

.card {
    border: 1px solid #dedede;
    padding: 16px;
    border-radius: 8px;
}